.top-bar {
  @apply bg-white dark:bg-dark-grey w-full flex items-center col-span-full;

  .logo-container {
    @apply pl-4 py-5;

    .logo {
      @apply w-6;
    }
  }

  .board-title {
    @apply flex items-center pl-4;

    .board-title-title {
      animation: insertBoardTitle 0.3s ease-in;

      @keyframes insertBoardTitle {
        0% {
          opacity: 0;
          width: 0;
        }
        50% {
          opacity: 0.5;
          width: 30%;
        }
        100% {
          opacity: 1;
          width: 100%;
        }
      }
    }

    .side-bar-toggle-container {
      @apply transition ease-out duration-500;

      .side-bar-toggle-btn {
        @apply px-5 py-5;

        .side-bar-toggle-icon {
          @apply h-2 w-4;
        }
      }
      &[data-side-bar-toggle='hidden'] {
        @apply rotate-90;
      }
    }
  }

  .board-controls {
    @apply flex justify-end items-center flex-grow gap-4 py-5;

    .add-new-task-btn {
      @apply opacity-25 flex items-center;

      .add-new-task-icon {
        @apply h-3 fill-white;
      }

      .add-new-task-heading {
        @apply hidden;
      }

      &[data-has-tasks='true'] {
        @apply opacity-100;
      }

      &[data-has-tasks='false'] {
        @apply bg-main-purple-hover;
      }
    }

    .board-options {
      @apply p-4 pr-4 flex justify-center items-center;

      .board-options-icon {
        @apply h-4 fill-medium-grey;
      }
    }
  }
}

@screen md {
  .top-bar {
    .logo-container {
      @apply w-5/6 max-w-xs pl-9 py-8 border-r border-r-lines-light dark:border-r-lines-dark;
      .logo {
        @apply w-36;
      }
    }
    .board-title {
      @apply pl-6 py-7;
    }

    .board-controls {
      .board-options {
        @apply pr-9;
      }
    }
  }
}

@screen lg {
  .top-bar {
    .board-controls {
      .add-new-task-btn {
        .add-new-task-icon {
          @apply mr-2;
        }
        .add-new-task-heading {
          @apply block text-white;
        }
      }
    }
  }
}
