@use './_fonts.scss';
@use './_topBar.scss';
@use './_sideBar.scss';
@use './_taskBar.scss';
@use './_buttons.scss';
@use './_taskForms.scss';
@use './_scrollBar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lines-light dark:bg-very-dark-grey overflow-hidden;
}

// heading XL
h1 {
  @apply text-lg leading-8 font-bold;
}

// heading L
h2 {
  @apply text-lg leading-6 font-bold;
}

// heading M
h3 {
  @apply text-base leading-5 font-bold;
}

// heading S
h4 {
  @apply text-xs leading-4 font-bold;
}

.app-container {
  @apply flex flex-col bg-light-grey dark:bg-very-dark-grey text-black dark:text-white w-full font-jakarta;
}

@screen md {
  h1 {
    @apply text-2xl;
  }
  .app-container {
    @apply grid;
    grid-template-columns: var(--left, 320px) 1fr;
    grid-template-rows: auto auto;
    transition: var(--time, 300ms) ease-out;

    &[data-side-bar-toggle='hidden'] {
      --left: 0px;
      --time: 1s;
    }
  }
}
